In [ ]:
import pandas as pd
import re
import math

In [ ]:
#Loading Movielens Movies dataset
movies_df = pd.read_csv('./data/movielens/movies.csv')
movies_df.head(5)

#Extracticg and creating new column "year" from the title column
movies_df['year'] = movies_df['title'].str.extract(r'(\(\d{4}\)$)') #Extracts '(year)' from title
movies_df['year'] = movies_df['year'].str.extract(r'(\d{4})') #Extracts 'year' from '(year)'

#Checking and counting the number of 'NA' values in the 'year' column
print("Is NA values present: {}".format(movies_df['year'].isnull().values.any())) #Find if NA is present in the column 
print("NA values count: {}".format(movies_df['year'].isnull().values.sum())) #Count the number of NA in the column

#Replacing 'NA' values with '0'
movies_df['year'].fillna('0', inplace=True) #Replace NA with value 0

#Converting the datatype of 'year' column from string to int
movies_df = movies_df.astype({'year': int})
movies_df.dtypes

#Sorting the movies in ascending order by year
movies_df.sort_values(by='year', inplace=True)

#Creating a new dataframe with movies starting from 2009
new_movies_df = movies_df.loc[movies_df['year'] >= 2009]
print("Movies count {}".format(len(new_movies_df.index)))
new_movies_df.head(20)

In [ ]:
#Movielens Links dataset
links_df = pd.read_csv('./data/movielens/external_links.csv')

#Checking and counting the number of 'NA' values in the 'tmdbid' and 'imdbid' columns
print("Does 'tmdbid' column contain NA values ?: {}".format(links_df['tmdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['tmdbId'].isnull().values.sum()))
print("Does 'imdbid' column contain NA values ?: {}".format(links_df['imdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['imdbId'].isnull().values.sum()))

#Replacing 'NA' values with '0'
links_df['tmdbId'].fillna(0, inplace=True) #Replace NA values with 0

#Checking the column datatypes
print("\n",links_df.dtypes)

#Converting the datatype of 'tmdbId' column from float to int
links_df = links_df.astype({'tmdbId': int})
links_df.head(5)

In [ ]:
#merge movies and link dataframe on movieid
merged_movies_df = pd.merge(new_movies_df, links_df, how='inner', on = 'movieId')
merged_movies_df.head(5)

In [ ]:
from DataManager import RestClient

In [ ]:
from WebScraper import Oscars
from DataManager import MongoDBClient

In [ ]:
no_sql_client = MongoDBClient("Movies")
list_mongodb_collection = no_sql_client.get_collections_list()
if len(list_mongodb_collection) == 0:
    no_sql_client.create_Collections(['State','Imdb', 'Tmdb', 'Oscars'])

In [ ]:
#Fetching data from "rapid-api" and "The movie database"
if ("State" in list_mongodb_collection) & (no_sql_client.find_one("State")['overall_status'] == "In Progress"):
    RestClient(merged_movies_df).fetch_data()

In [ ]:
#Scraping data from 'Academy Awards website'
if ("Oscars" in list_mongodb_collection) & (no_sql_client.count_documents("Oscars") < 17):
    oscars_dict = Oscars().scrape()
    print(oscars_dict)
    for ceremony in oscars_dict['oscar_ceremonies']:
        no_sql_client.insert_one(ceremony, "Oscars")

In [ ]:
#Fetching imdb, tmdb and oscars data data from Mongodb
imdb_cursor = no_sql_client.find_many("Imdb", {})
tmdb_cursor = no_sql_client.find_many("Tmdb", {})
oscars_cursor = no_sql_client.find_many("Oscars", {})

#Creating respective dataframes from the pymongo cursor objects fetched from mongodb
imdb_df = pd.DataFrame(imdb_cursor)
tmdb_df = pd.DataFrame(tmdb_cursor)
oscars_df = pd.DataFrame(oscars_cursor)

In [ ]:
print(imdb_df.shape)
print(imdb_df.info())
print(tmdb_df.shape)
print(tmdb_df.info())

In [ ]:
import json

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Parsing oscars information obtained from mongodb into a dictionary and creating a dataframe out of it
oscar_dict_list = []
#Extract writer names from sentences in the record
def extract_writer_names(name):
    return re.split(', | & | and', name.split(';')[0].split('by')[1].strip())

for index, ceremony in oscars_df.iterrows():
    ceremony_year = ceremony['year']
    ceremony_index = re.search(r'(\d{2}[a-z]{2})',ceremony['index']).group(0)
    directing = ceremony['directing']
    acting = ceremony['acting']
    acting_female = ceremony['acting_female']
    s_acting = ceremony['support_acting']
    s_acting_female = ceremony['support_acting_female']
    best_picture = ceremony['best_picture']
    writing_adapted = ceremony['writing_adapted']
    writing_original = ceremony['writing_original']
    
    winner_directing = directing['winner']
    winner_director = winner_directing['director']
    for nomination in directing['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Directing"
        row_dict['nominee_name'] = nomination['director']
        row_dict['movie'] = nomination['movie']
        if winner_director == nomination['director']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_acting = acting['winner']
    winner_actor = winner_acting['actor']
    for nomination in acting['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Acting Male"
        row_dict['nominee_name'] = nomination['actor']
        row_dict['movie'] = nomination['movie']
        if winner_actor == nomination['actor']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
        
    s_winner_acting = s_acting['winner']
    s_winner_actor = s_winner_acting['actor']
    for nomination in s_acting['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Support Acting Male"
        row_dict['nominee_name'] = nomination['actor']
        row_dict['movie'] = nomination['movie']
        if winner_actor == nomination['actor']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
    
    winner_acting_female = acting_female['winner']
    winner_actress = winner_acting_female['actress']
    for nomination in acting_female['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Acting Female"
        row_dict['nominee_name'] = nomination['actress']
        row_dict['movie'] = nomination['movie']
        if winner_actress == nomination['actress']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
        
    s_winner_acting_female = s_acting_female['winner']
    s_winner_actress = s_winner_acting_female['actress']
    for nomination in s_acting_female['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Support Acting Female"
        row_dict['nominee_name'] = nomination['actress']
        row_dict['movie'] = nomination['movie']
        if winner_actress == nomination['actress']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_movie = best_picture['winner']
    winner_picture = winner_movie['movie']
    for nomination in best_picture['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Best Picture"
        row_dict['nominee_name'] = nomination['movie']
        row_dict['movie'] = nomination['movie']
        if winner_picture == nomination['movie']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_writing_adapted = writing_adapted['winner']
    winner_writer_adapted = winner_writing_adapted['writer']
    for nomination in writing_adapted['nominations']:
        names = extract_writer_names(nomination['writer'])
        for name in names:
            row_dict = {}
            row_dict['year'] = ceremony_year
            row_dict['index'] = ceremony_index
            row_dict['category'] = "Writing Adapted"
            row_dict['nominee_name'] = name
            row_dict['movie'] = nomination['movie']
            if winner_writer_adapted == nomination['writer']:
                row_dict['is_win'] = 1
            else:
                row_dict['is_win'] = 0
            oscar_dict_list.append(row_dict)
            
    winner_writing_original = writing_original['winner']
    winner_writer_original = winner_writing_original['writer']
    for nomination in writing_original['nominations']:
        names = extract_writer_names(nomination['writer'])
        for name in names:
            row_dict = {}
            row_dict['year'] = ceremony_year
            row_dict['index'] = ceremony_index
            row_dict['category'] = "Writing Original"
            row_dict['nominee_name'] = name
            row_dict['movie'] = nomination['movie']
            if winner_writer_original == nomination['writer']:
                row_dict['is_win'] = 1
            else:
                row_dict['is_win'] = 0
            oscar_dict_list.append(row_dict)
  
new_oscars_df = pd.DataFrame(oscar_dict_list)
print(new_oscars_df.head(5))

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Creating comma separated values from json array
def parse_production_companies_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['name'])
    return ','.join([nm for nm in names_list])

def parse_spoken_languages_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['english_name'])
    return ','.join([nm for nm in names_list])

def parse_genre_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['name'])
    return ','.join([nm for nm in names_list])

#Dynamically storing the comma-separated strings in their respective columns within "Tmdb" dataframe
tmdb_df['productions'] = tmdb_df['production_companies'].apply(parse_production_companies_and_return_string)
tmdb_df['languages'] = tmdb_df['spoken_languages'].apply(parse_spoken_languages_and_return_string)
tmdb_df['genre'] = tmdb_df['genres'].apply(parse_genre_and_return_string)

In [ ]:
#Parsing the 'rating' json arrays and creating a dictionary
dict_list = []
for index, movie in imdb_df.iterrows():
    dict = {'_id' : movie['_id']}
    for obj in movie['Ratings']:
        dict[obj['Source']] = obj['Value']
    
    dict_list.append(dict)

#Generating ratings dataframe from the respective dictionary    
ratings_df = pd.DataFrame(dict_list)
ratings_df.head(2)

In [ ]:
#Merging the rating information with the movie dataframe
final_imdb_df = pd.merge(imdb_df, ratings_df, how = "inner", on = "_id")
final_imdb_df.head(3)

In [ ]:
#Defining a function to select columns to drop based on percentage of "N/A" and null values and a cutoff
def should_drop(column, df, cutoff):
    size = len(df)
    na_size = len(df.loc[df[column] == "N/A"])
    null_size = df[column].isnull().values.sum()
    na_percentage = (na_size / size) * 100
    null_percentage = (null_size / size) * 100
    if na_percentage > cutoff or null_percentage > cutoff:
        return True
    else:
        return False
    
#Dynamically selecting columns based on "N/A" and "Null" values in the dataframe
drop_cols_imdb = [col for col in final_imdb_df.columns if should_drop(col, final_imdb_df, 50)]
drop_cols_tmdb = [col for col in tmdb_df.columns if should_drop(col, tmdb_df, 50)]

In [ ]:
#Also drop other unimportant columns from both Imdb and Tmdb dataframes
drop_cols_imdb.extend(['Ratings', 'Response', 'Type', 'DVD', 'Poster'])
final_imdb_df.drop(drop_cols_imdb, axis = 1, inplace=True)

drop_cols_tmdb.extend(['video', 'status', 'production_countries', 'imdb_id', 'homepage','backdrop_path','poster_path','production_companies','genres','spoken_languages'])
tmdb_df.drop(drop_cols_tmdb, axis = 1, inplace=True)

In [ ]:
#Merging "Imdb" and "Tmdb" dataframes generated from respective mongodb collections
merge_movies = pd.merge(final_imdb_df, tmdb_df, how = 'left', on = '_id')
merge_movies.info()

In [ ]:
#Displaying all the columns after merging the dataframes created from 'Imdb' and 'Tmdb' mongodb collections
pd.set_option('display.max_columns', None)
merge_movies.head(2)

In [ ]:
import datetime
import time

In [ ]:
#Cleaning and creating the final dataframe to insert in postgresql
selected_columns = ['_id','Title','tagline','Plot','release_date','Rated','runtime','Awards','budget','revenue','popularity'
                    ,'adult','imdbRating','Metascore','Rotten Tomatoes','vote_average','Year','vote_count','Runtime','Released']
selected_df = merge_movies.loc[:,selected_columns]
selected_df.loc[selected_df['Released'] == "N/A", 'Released'] = "01 Jan 1970"
selected_df.runtime.fillna(selected_df.Runtime.apply(lambda x : re.search(r'(^\d*)', x).group(0)), inplace=True)
selected_df.release_date.fillna(selected_df.Released.apply(lambda x : datetime.datetime.strptime(x,"%d %b %Y").strftime('%Y-%m-%d')), inplace=True)
selected_df.drop(['Runtime','Released'], axis = 1, inplace=True)
selected_df.shape

In [ ]:
#Extracting information on oscar nomination and win for best pictures from oscars dataframe
best_pictures_df = new_oscars_df.loc[new_oscars_df['category'] == 'Best Picture'].copy()
best_pictures_df.drop(['year','index','category','nominee_name'], axis=1, inplace=True)
best_pictures_df['oscar_nomination'] = 1
best_pictures_df.rename(columns = {'movie':'Title', 'is_win':'oscar_win'}, inplace=True)
best_pictures_df.head(5)
#merge movie dataframe and oscar data frame on Title
new_df = pd.merge(selected_df, best_pictures_df, how='left', on ='Title')

In [ ]:
#creating and inserting 'oscar_win' and 'oscar_nomination' columns in the dataframe
new_df.insert(8, 'oscar_win', new_df.pop('oscar_win'))
new_df.insert(9, 'oscar_nomination', new_df.pop('oscar_nomination'))
new_df['oscar_nomination'].fillna(0, inplace=True)
new_df['oscar_win'].fillna(0, inplace=True)
new_df['Awards'].fillna("N/A", inplace=True)
new_df.head(5)

In [ ]:
#creating and inserting 'award_wins' and 'award_nominations' columns in the dataframe
def extract_awards(regex, string):
    partial_match = re.search(regex, string)
    if partial_match == None:
        return 0
    return int(re.search(r'(^\d*)', partial_match.group(0)).group(0))

new_df.insert(7, 'award_wins',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\swin)', x)))
new_df.insert(8, 'award_nominations',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\snomination)', x)))
new_df.drop(columns = ['Awards'], inplace=True)
new_df.info()

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Rename some columns
new_df.rename(columns = {'_id': 'movie_id', 'Title':'title', 'Plot' : 'plot', 'Rated':'certificate','imdbRating':'imdb_rating',
                        'Metascore' : 'metascore', 'Rotten Tomatoes':'rotten_tomatoes', 'Year': 'year'}, inplace=True)


#Fill "N/A" and Null values in all the columns
new_df.movie_id.fillna(0, inplace=True)
new_df.tagline.fillna("N/A", inplace=True)
new_df['plot'].fillna("N/A", inplace=True)
new_df.release_date.fillna("1970-01-01", inplace=True)
new_df.certificate.fillna("N/A", inplace=True)
new_df.runtime.fillna("0", inplace=True)
new_df.budget.fillna(0.0, inplace=True)
new_df.revenue.fillna(0.0, inplace=True)
new_df.popularity.fillna(0.0, inplace=True)
new_df.adult.fillna("N/A", inplace=True)
new_df.imdb_rating.fillna("0.0", inplace=True)
new_df.imdb_rating = new_df.imdb_rating.apply(lambda x : '0.0' if x == "N/A" else x)
new_df.metascore.fillna("0", inplace=True)
new_df.metascore = new_df.metascore.apply(lambda x : '0' if x == "N/A" else x)
new_df.rotten_tomatoes.fillna("0", inplace=True)
new_df.vote_average.fillna(0.0, inplace=True)
new_df.year.fillna("0", inplace=True)
new_df.vote_count.fillna(0, inplace=True)

#Replacing empty values
new_df[new_df['runtime'] == ''].index
new_df.loc[new_df['runtime'] == '', 'runtime'] = "0"

In [ ]:
#Changing Datatypes in the final movie dataframe
new_df = new_df.astype({'movie_id':'int32', 'runtime':'int32', 'oscar_win':'int32', 'oscar_nomination':'int32', 
                         'vote_count': 'int32'}, copy = True)

print(new_df.info())

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Creating dataframes for Production, Language, Genre, Director, Writer and Actor informations
language_dict_list = []
genre_dict_list = []
production_dict_list = []
director_dict_list = []
writer_dict_list = []
actor_dict_list = []
merge_movies['languages'].fillna("N/A", inplace=True)
merge_movies['productions'].fillna("N/A" , inplace=True)
for index, movie in merge_movies.iterrows():
    movie_id = movie['_id']
    languages = movie['languages']
    genres = movie['Genre']
    directors = movie['Director']
    writers = movie['Writer']
    actors = movie['Actors']
    productions = movie['productions']
    for language in languages.split(','):
        language_dict_list.append({"movie_id" : movie_id, "lang" : language})
    for genre in genres.split(','):
        genre_dict_list.append({"movie_id" : movie_id, "type" : genre})
    for producer in productions.split(','):
        production_dict_list.append({"movie_id" : movie_id, "name" : producer})
    for director in directors.split(','):
        director_dict_list.append({"movie_id" : movie_id, "director" : director})
    for writer in writers.split(','):
        writer_dict_list.append({"movie_id" : movie_id, "writer" : writer})
    for actor in actors.split(','):
        actor_dict_list.append({"movie_id" : movie_id, "actor" : actor})
        
language_df = pd.DataFrame(language_dict_list)
genre_df = pd.DataFrame(genre_dict_list)
production_df = pd.DataFrame(production_dict_list)
director_df = pd.DataFrame(director_dict_list)
writer_df = pd.DataFrame(writer_dict_list)
actor_df = pd.DataFrame(actor_dict_list)

In [ ]:
#Importing important packages for postgresql operations
from PostgreSqlHelper import Connection
from sqlalchemy import create_engine

In [ ]:
#Opening a connection to PostgreSQL server
conn = Connection()
cursor = conn.create_cursor()

#Creating a new database
# DROP DATABASE IF EXISTS motion_pictures;
cursor.execute('DROP DATABASE IF EXISTS motion_pictures;')
cursor.execute('CREATE DATABASE motion_pictures;')

#Closing the cursor and connection
cursor.close()
conn.close()

In [ ]:
#Opening a new connection with the newly created database 
cursor = Connection("motion_pictures").create_cursor()

In [ ]:
#Creating tables to store information obtained from Mongodb collections
cursor.execute("""CREATE TABLE IF NOT EXISTS Movie (
                    movie_id INT PRIMARY KEY, 
                    title VARCHAR NOT NULL,
                    tagline VARCHAR NOT NULL,
                    plot VARCHAR NOT NULL,
                    released_date VARCHAR NOT NULL,
                    certificate VARCHAR NOT NULL,
                    runtime INT,
                    award_wins INT,
                    award_nominations INT,
                    oscar_win INT,
                    oscar_nomination INT,
                    budget VARCHAR,
                    revenue VARCHAR,
                    popularity VARCHAR,
                    adult VARCHAR,
                    imdb_rating VARCHAR,
                    metascore VARCHAR,
                    rotten_tomatoes VARCHAR,
                    vote_average REAL,
                    vote_count INT) """)

cursor.execute(""" CREATE TABLE IF NOT EXISTS Language (movie_id INT, lang VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, lang),
                    CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Genre (movie_id INT, type VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, type),
                    CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Producer (movie_id INT, name VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, name),
                    CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Director (movie_id INT, director VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, director),
                    CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Writer (movie_id INT, writer VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, writer),
                    CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Actor (movie_id INT, actor VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, actor),
                    CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Academy_awards (award_id SERIAL PRIMARY KEY, year INT, index VARCHAR, 
                                                              category VARCHAR NOT NULL, nominee_name VARCHAR, 
                                                              movie VARCHAR, is_win INT)""")

In [ ]:
#Creating sqlalchemy engine to insert dataframes into postgreSql tables
engine = create_engine('postgresql://postgres:admin@localhost:5432/motion_pictures')

In [ ]:
#Inserting movie information into Movie table
new_df.to_sql('Movie', engine)

#Inserting all multivalued attribute values to their respective sql tables
language_df.to_sql('Language', engine)
genre_df.to_sql('Genre', engine)
production_df.to_sql('Producer', engine)
director_df.to_sql('Director', engine)
writer_df.to_sql('Writer', engine)
actor_df.to_sql('Actor', engine)

#Inserting Academy Awards information into postgresql table
new_oscars_df.to_sql('Academy_awards', engine)

Exploratory Data Analysis
#Essentially the data has to come from PostgreSQL database, but for now I am using the dataframes previously generated

In [ ]:

df_movie = new_df.copy()

print(df_movie.shape)
print(df_movie.info())

In [ ]:
df_movie.head(2)

In [ ]:
df_movie.tail(2)

In [ ]:
#Change datatypes of some columns which have incorrect datatypes

#Extracting year from range 'yyyy-yyyy'
df_movie['year'] = df_movie['year'].apply(lambda x : re.search(r'(^\d{4})', x).group(0))
df_movie = df_movie.astype({'imdb_rating' : 'float64', 'year' : 'int32', 'metascore' : 'int32'}, copy=True)
df_movie.info()

In [ ]:
#Replacing 0 values with mean or median

# Making a list of missing value types - wonderful
#missing_values = ["n/a", "na", "--"]
#df = pd.read_csv("property data.csv", na_values = missing_values)

median_budget = df_movie['budget'].median()
median_revenue = df_movie['revenue'].median()
median_metascore = df_movie['metascore'].median()
df_movie.loc[df_movie['budget'] == 0.0, 'budget'] = median_budget
df_movie.loc[df_movie['revenue'] == 0.0, 'revenue'] = median_revenue
df_movie.loc[df_movie['metascore'] == 0, 'metascore'] = median_metascore

In [ ]:
#Feature Engineering
#Calculate and add profit percentage
df_movie['profit_percentage'] = round(((df_movie['revenue'] - df_movie['budget']) * 100) / df_movie['budget'])

In [ ]:
df_movie.loc[1325]  #Abnormal value - caused due to inconsistent data from api call

In [ ]:
df_movie.value_counts(subset=['year','certificate'], sort = True, normalize = False)

In [ ]:
df_movie.describe()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
columns_num = [c for c in df_movie.describe().columns if c not in ['movie_id', 'oscar_win', 'oscar_nomination','year']]

In [ ]:
#Number of box plots and histograms to generate
len(columns_num)

In [ ]:
fig1, axes = plt.subplots(6, 2, figsize=(30,30))
row = 0
col = 0
for column in columns_num:
    axes[row, col].set_title(column)
    axes[row, col].boxplot(df_movie[column], vert = False)
    if col == 1:
        row += 1
        col = 0
    else:
        col += 1

plt.show()
# for column in columns_num:
#     sns.boxplot( y=df_movie[column] );
#     plt.show()

In [ ]:
sns.boxplot(x='year', y='runtime', data=df_movie)

In [ ]:
sns.boxplot(x='certificate', y='runtime', data=df_movie)

In [ ]:
sns.boxplot(x='certificate', y='award_wins', data=df_movie)

In [ ]:
sns.boxplot(x='certificate', y='popularity', data=df_movie)

In [ ]:
sns.boxplot(x='oscar_nomination', y='metascore', data=df_movie)

In [ ]:
sns.boxplot(x='oscar_win', y='metascore', data=df_movie)

In [ ]:
sns.boxplot(x='oscar_win', y='vote_average', data=df_movie)

In [ ]:
sns.boxplot(x='oscar_nomination', y='vote_average', data=df_movie)

In [ ]:
#Good Example of creating comparative boxplots
# malignant = df[df['diagnosis']=='M']['area_mean']
# benign = df[df['diagnosis']=='B']['area_mean']
# fig = plt.figure()
# ax = fig.add_subplot(111)
# ax.boxplot([malignant,benign], labels=['M', 'B'])

df_movie.boxplot(column = 'popularity', by = 'certificate')
plt.title('Popularity vs Rating')

In [ ]:
for i in columns_num:
    plt.hist(df_movie[i])
    plt.title(i)
    plt.show()

In [ ]:
# Generate a custom diverging colormap
cmap = sns.diverging_palette(230, 20, as_cmap=True)
corr = df_movie[columns_num].corr()
sns.heatmap(corr, cmap=cmap)

In [ ]:
sns.pairplot(df_movie, vars = ['metascore', 'certificate','imdb_rating'])

In [ ]:
plt.scatter(df_movie['runtime'], df_movie['profit_percentage'], marker = '.')
plt.xlabel('Runtime')
plt.ylabel('Profit Percentage')
plt.title('Runtime vs Profit Percentage')

In [ ]:
plt.style.use('seaborn-bright')
plt.plot(df_movie['budget'] / 1000000, df_movie['runtime'], marker = '.')
plt.xlabel('Budget')
plt.ylabel('Runtime')
plt.title('Budget vs Runtime')

In [ ]:
plt.style.available

In [ ]:
df_movie[df_movie['profit_percentage'] > 6000]

In [ ]:
def outlier(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    min = Q1 - (IQR * 1.5)
    max = Q3 + (IQR * 1.5)
    df_outlier = df[(df[col] < min) | (df[col] > max)]
    print("Number of outliers : {}".format(len(df_outlier)))
    return df_outlier

In [ ]:
outlier(df_movie, 'profit_percentage')

In [ ]:
#columns_cat = [c for c in df_movie.columns if df_movie[c].dtype == object]
columns_cat = ['certificate', 'year','oscar_win', 'oscar_nomination', 'adult']

In [ ]:
print(columns_cat)
df_movie.dtypes

In [ ]:
import numpy as np

In [ ]:
#Bar charts
for column in columns_cat:
    value_x = df_movie[column].unique()
    index = np.arange(len(value_x))
    freq_y = df_movie[column].value_counts()
    plt.bar(index, freq_y)
    plt.xlabel(column)
    plt.ylabel('Frequency')
    plt.xticks(index,value_x, rotation=90)
    plt.show()

In [ ]:
df = df_movie[['award_nominations', 'award_wins', 'certificate']]
df = df.groupby('certificate')
print(df)
for certificate, frame in df:
    plt.scatter(frame.award_wins, frame.award_nominations, label = certificate)
plt.legend()
plt.xlabel('Award Wins')
plt.ylabel('Award Nominations')
plt.title('Award wins vs nominations')
plt.grid(True)
plt.show()

In [ ]:
df_movie.head(1)

In [ ]:
new_oscars_df.head(50)

In [ ]:
#Creating new dataframes with director, writer and producer counts
new_df_director = pd.DataFrame().assign(movie_id = director_df['movie_id'], director_count = 1)
new_df_writer = pd.DataFrame().assign(movie_id = writer_df['movie_id'], writer_count = 1)
new_df_producer = pd.DataFrame().assign(movie_id = production_df['movie_id'], producer_count = 1)

#Adding up the counts for director, writer and producer
new_df_director = new_df_director.groupby(['movie_id']).agg({'director_count': sum}).reset_index()
new_df_writer = new_df_writer.groupby(['movie_id']).agg({'writer_count': sum}).reset_index()
new_df_producer = new_df_producer.groupby(['movie_id']).agg({'producer_count': sum}).reset_index()

In [ ]:
#Merge all the counts to main 'movie' dataframe
df_movie = pd.merge(df_movie, new_df_director, how = 'inner', on = 'movie_id')
df_movie= pd.merge(df_movie, new_df_writer, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, new_df_producer, how = 'inner', on = 'movie_id')
df_movie.head(5)

In [ ]:
#SQL Query
pd.read_sql("""SELECT "movie_id","title" FROM "Movie";""", con=engine).head(5)

In [ ]:
#Determining if any director, writer, actor. actress is oscar nominated
#SQL Query
#pd.read_sql("""SELECT "nominee_name" , 1 as is_nominated FROM "Academy_awards" WHERE category = 'Directing';""", con=engine).head(5)
df_n_director = pd.read_sql("""SELECT "movie_id","director", "is_director_nominated" FROM "Director" LEFT JOIN (
SELECT "nominee_name" , 1 as is_director_nominated FROM "Academy_awards" WHERE category = 'Directing'
) as Awards ON director = nominee_name;""", con=engine).fillna(0)

df_n_writer = pd.read_sql("""SELECT "movie_id","writer", "is_writer_nominated" FROM "Writer" LEFT JOIN (
SELECT "nominee_name" , 1 as is_writer_nominated FROM "Academy_awards" WHERE category IN ('Writing Adapted','Writing Original')
) as Awards ON writer = nominee_name;""", con=engine).fillna(0)

df_n_actor = pd.read_sql("""SELECT "movie_id","actor", "is_actor_nominated" FROM "Actor" LEFT JOIN (
SELECT "nominee_name" , 1 as is_actor_nominated FROM "Academy_awards" WHERE category IN ('Acting Male','Support Acting Male')
) as Awards ON actor = nominee_name;""", con=engine).fillna(0)

df_n_actress = pd.read_sql("""SELECT "movie_id","actor", "is_actress_nominated" FROM "Actor" LEFT JOIN (
SELECT "nominee_name" , 1 as is_actress_nominated FROM "Academy_awards" WHERE category IN ('Acting Female','Support Acting Female')
) as Awards ON actor = nominee_name;""", con=engine).fillna(0)

df_n_director = df_n_director.groupby(['movie_id']).agg({'is_director_nominated': sum}).reset_index()
df_n_director.loc[df_n_director['is_director_nominated'] > 1, 'is_director_nominated'] = 1

df_n_writer = df_n_writer.groupby(['movie_id']).agg({'is_writer_nominated': sum}).reset_index()
df_n_writer.loc[df_n_writer['is_writer_nominated'] > 1, 'is_writer_nominated'] = 1

df_n_actor = df_n_actor.groupby(['movie_id']).agg({'is_actor_nominated': sum}).reset_index()
df_n_actor.loc[df_n_actor['is_actor_nominated'] > 1, 'is_actor_nominated'] = 1

df_n_actress = df_n_actress.groupby(['movie_id']).agg({'is_actress_nominated': sum}).reset_index()
df_n_actress.loc[df_n_actress['is_actress_nominated'] > 1, 'is_actress_nominated'] = 1

In [ ]:
df_n_actress.is_nominated.value_counts()

In [ ]:
#merge all the nomination information with main dataframe
df_movie = pd.merge(df_movie, df_n_director, how = 'inner', on = 'movie_id')
df_movie= pd.merge(df_movie, df_n_writer, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, df_n_actor, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, df_n_actress, how = 'inner', on = 'movie_id')
df_movie.head(50)

In [ ]:
#Building pie chart based on language
df_lang_dist = pd.read_sql("""SELECT lang, COUNT(lang) FROM "Language" group by "lang" ORDER BY count DESC;""", con = engine)

df_lang_dist_top_4 = df_lang_dist[:4].copy()
df_lang_dist_others = pd.DataFrame(data = {'lang': ['Others'], 'count' : [df_lang_dist.loc[4:,'count'].sum()]})
df_lang_dist_top_4 = pd.concat([df_lang_dist_top_4, df_lang_dist_others])
plt.pie(df_lang_dist_top_4['count'], labels = df_lang_dist_top_4['lang'],autopct='%1.1f%%',startangle=15, shadow = True)
plt.title('Movie Distribution by Language')
plt.axis('equal')
plt.show()

In [ ]:
#Building pie chart based on genre
df_genre_dist = pd.read_sql("""SELECT type, COUNT(type) FROM "Genre" group by "type" ORDER BY count DESC;""", con = engine)

df_genre_dist_top_4 = df_genre_dist[:9].copy()
df_genre_dist_others = pd.DataFrame(data = {'type': ['Others'], 'count' : [df_genre_dist.loc[9:,'count'].sum()]})
df_genre_dist_top_4 = pd.concat([df_genre_dist_top_4, df_genre_dist_others])
plt.pie(df_genre_dist_top_4['count'], labels = df_genre_dist_top_4['type'],autopct='%1.1f%%',startangle=15, shadow = True)
plt.title('Movie Distribution by Gnere')
plt.axis('equal')
plt.show()

In [ ]:
#Building pie chart based on genre
df_certificate_dist = pd.read_sql("""SELECT certificate, COUNT(certificate) FROM "Movie" group by "certificate" ORDER BY count DESC;""", con = engine)

df_certificate_dist_top = df_certificate_dist[:6].copy()
df_certificate_dist_others = pd.DataFrame(data = {'certificate': ['Others'], 'count' : [df_certificate_dist.loc[6:,'count'].sum()]})
df_certificate_dist_top = pd.concat([df_certificate_dist_top, df_certificate_dist_others])
plt.pie(df_certificate_dist_top['count'], labels = df_certificate_dist_top['certificate'],autopct='%1.1f%%',startangle=15, shadow = True)
plt.title('Movie Distribution by Censor Certificate')
plt.axis('equal')
plt.show()

In [ ]:
#Top 15 production houses
df_producer_dist = pd.read_sql("""SELECT name, COUNT(name) FROM "Producer" group by "name" ORDER BY count DESC;""", con = engine)

df_producer_dist_top = df_producer_dist[:15].copy()
# df_producer_dist_others = pd.DataFrame(data = {'name': ['Others'], 'count' : [df_producer_dist.loc[50:,'count'].sum()]})
#df_producer_dist_top = pd.concat([df_producer_dist_top, df_producer_dist_others])
plt.pie(df_producer_dist_top['count'], labels = df_producer_dist_top['name'],autopct='%1.1f%%',startangle=15, shadow = True)
plt.title('Movie Distribution by Producers')
plt.axis('equal')
plt.show()