In [ ]:
import pandas as pd
import re

In [ ]:
#Loading Movielens Movies dataset
movies_df = pd.read_csv('./data/movielens/movies.csv')
movies_df.head(5)

#Extracticg and creating new column "year" from the title column
movies_df['year'] = movies_df['title'].str.extract(r'(\(\d{4}\)$)') #Extracts '(year)' from title
movies_df['year'] = movies_df['year'].str.extract(r'(\d{4})') #Extracts 'year' from '(year)'

#Checking and counting the number of 'NA' values in the 'year' column
print("Is NA values present: {}".format(movies_df['year'].isnull().values.any())) #Find if NA is present in the column 
print("NA values count: {}".format(movies_df['year'].isnull().values.sum())) #Count the number of NA in the column

#Replacing 'NA' values with '0'
movies_df['year'].fillna('0', inplace=True) #Replace NA with value 0

#Converting the datatype of 'year' column from string to int
movies_df = movies_df.astype({'year': int})
movies_df.dtypes

#Sorting the movies in ascending order by year
movies_df.sort_values(by='year', inplace=True)

#Creating a new dataframe with movies starting from 2009
new_movies_df = movies_df.loc[movies_df['year'] >= 2009]
print("Movies count {}".format(len(new_movies_df.index)))
new_movies_df.head(20)

In [ ]:
#Movielens Links dataset
links_df = pd.read_csv('./data/movielens/external_links.csv')

#Checking and counting the number of 'NA' values in the 'tmdbid' and 'imdbid' columns
print("Does 'tmdbid' column contain NA values ?: {}".format(links_df['tmdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['tmdbId'].isnull().values.sum()))
print("Does 'imdbid' column contain NA values ?: {}".format(links_df['imdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['imdbId'].isnull().values.sum()))

#Replacing 'NA' values with '0'
links_df['tmdbId'].fillna(0, inplace=True) #Replace NA values with 0

#Checking the column datatypes
print("\n",links_df.dtypes)

#Converting the datatype of 'tmdbId' column from float to int
links_df = links_df.astype({'tmdbId': int})
links_df.head(5)

In [ ]:
#merge movies and link dataframe on movieid
merged_movies_df = pd.merge(new_movies_df, links_df, how='inner', on = 'movieId')
merged_movies_df.head(5)

In [ ]:
from DataManager import RestClient

In [ ]:
#Fetching data from "rapid-api" and "The movie database"
RestClient(merged_movies_df).fetch_data()

In [ ]:
from WebScraper import Oscars
from DataManager import MongoDBClient

In [ ]:
#Scraping data from 'Academy Awards website'
oscars_dict = Oscars().scrape()
print(oscars_dict)

In [ ]:
no_sql_client = MongoDBClient("Movies")
for ceremony in oscars_dict['oscar_ceremonies']:
    no_sql_client.insert_one(ceremony, "Oscars")

In [ ]:
imdb_data = no_sql_client.find_many("Imdb", {})
tmdb_data = no_sql_client.find_many("Tmdb", {})
oscars_data = no_sql_client.find_many("Oscars", {})

In [ ]:
#Retrieving the dictionary objects from mongodb cursor and creating respective dataframes from it
imdb_df = pd.DataFrame(imdb_data)
tmdb_df = pd.DataFrame(tmdb_data)
oscars_df = pd.DataFrame(oscars_data)

In [ ]:
print(imdb_df.shape)
print(imdb_df.info())
print(tmdb_df.shape)
print(tmdb_df.info())

In [ ]:
import json

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Parsing oscars information obtained from mongodb into a dictionary and creating a dataframe out of it
oscar_dict_list = []
for index, ceremony in oscars_df.iterrows():
    ceremony_year = ceremony['year']
    ceremony_index = re.search(r'(\d{2}[a-z]{2})',ceremony['index']).group(0)
    directing = ceremony['directing']
    acting = ceremony['acting']
    acting_female = ceremony['acting_female']
    best_picture = ceremony['best_picture']
    writing_adapted = ceremony['writing_adapted']
    writing_original = ceremony['writing_original']
    
    winner_directing = directing['winner']
    winner_director = winner_directing['director']
    for nomination in directing['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Directing"
        row_dict['nominee_name'] = nomination['director']
        row_dict['movie'] = nomination['movie']
        if winner_director == nomination['director']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_acting = acting['winner']
    winner_actor = winner_acting['actor']
    for nomination in acting['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Acting"
        row_dict['nominee_name'] = nomination['actor']
        row_dict['movie'] = nomination['movie']
        if winner_actor == nomination['actor']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
    
    winner_acting_female = acting_female['winner']
    winner_actress = winner_acting_female['actress']
    for nomination in acting_female['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Acting"
        row_dict['nominee_name'] = nomination['actress']
        row_dict['movie'] = nomination['movie']
        if winner_actress == nomination['actress']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_movie = best_picture['winner']
    winner_picture = winner_movie['movie']
    for nomination in best_picture['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Best Picture"
        row_dict['nominee_name'] = nomination['movie']
        row_dict['movie'] = nomination['movie']
        if winner_picture == nomination['movie']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_writing_adapted = writing_adapted['winner']
    winner_writer_adapted = winner_writing_adapted['writer']
    for nomination in writing_adapted['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Writing Adapted"
        row_dict['nominee_name'] = nomination['writer']
        row_dict['movie'] = nomination['movie']
        if winner_writer_adapted == nomination['writer']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
            
    winner_writing_original = writing_original['winner']
    winner_writer_original = winner_writing_original['writer']
    for nomination in writing_original['nominations']:
        row_dict = {}
        row_dict['year'] = ceremony_year
        row_dict['index'] = ceremony_index
        row_dict['category'] = "Writing Original"
        row_dict['nominee_name'] = nomination['writer']
        row_dict['movie'] = nomination['movie']
        if winner_writer_original == nomination['writer']:
            row_dict['is_win'] = 1
        else:
            row_dict['is_win'] = 0
        oscar_dict_list.append(row_dict)
  
new_oscars_df = pd.DataFrame(oscar_dict_list)
print(new_oscars_df.head(5))

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Creating comma separated values from json array
def parse_production_companies_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['name'])
    return ','.join([nm for nm in names_list])

def parse_spoken_languages_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['english_name'])
    return ','.join([nm for nm in names_list])

def parse_genre_and_return_string(array):
    names_list = []
    for dict in array:
        names_list.append(dict['name'])
    return ','.join([nm for nm in names_list])

#Dynamically storing the comma-separated strings in their respective columns within "Tmdb" dataframe
tmdb_df['productions'] = tmdb_df['production_companies'].apply(parse_production_companies_and_return_string)
tmdb_df['languages'] = tmdb_df['spoken_languages'].apply(parse_spoken_languages_and_return_string)
tmdb_df['genre'] = tmdb_df['genres'].apply(parse_genre_and_return_string)

In [ ]:
#Parsing the 'rating' json arrays and creating a dictionary
dict_list = []
for index, movie in imdb_df.iterrows():
    dict = {'_id' : movie['_id']}
    for obj in movie['Ratings']:
        dict[obj['Source']] = obj['Value']
    
    dict_list.append(dict)

#Generating ratings dataframe from the respective dictionary    
ratings_df = pd.DataFrame(dict_list)
ratings_df.head(2)

In [ ]:
#Merging the rating information with the movie dataframe
final_imdb_df = pd.merge(imdb_df, ratings_df, how = "inner", on = "_id")
final_imdb_df.head(3)

In [ ]:
#Defining a function to select columns to drop based on percentage of "N/A" and null values and a cutoff
def should_drop(column, df, cutoff):
    size = len(df)
    na_size = len(df.loc[df[column] == "N/A"])
    null_size = df[column].isnull().values.sum()
    na_percentage = (na_size / size) * 100
    null_percentage = (null_size / size) * 100
    if na_percentage > cutoff or null_percentage > cutoff:
        return True
    else:
        return False
    
#Dynamically selecting columns based on "N/A" and "Null" values in the dataframe
drop_cols_imdb = [col for col in final_imdb_df.columns if should_drop(col, final_imdb_df, 50)]
drop_cols_tmdb = [col for col in tmdb_df.columns if should_drop(col, tmdb_df, 50)]

In [ ]:
#Also drop other unimportant columns from both Imdb and Tmdb dataframes
drop_cols_imdb.extend(['Ratings', 'Response', 'Type', 'DVD', 'Poster'])
final_imdb_df.drop(drop_cols_imdb, axis = 1, inplace=True)

drop_cols_tmdb.extend(['video', 'status', 'production_countries', 'imdb_id', 'homepage','backdrop_path','poster_path','production_companies','genres','spoken_languages'])
tmdb_df.drop(drop_cols_tmdb, axis = 1, inplace=True)

In [ ]:
#Merging "Imdb" and "Tmdb" dataframes generated from respective mongodb collections
merge_movies = pd.merge(final_imdb_df, tmdb_df, how = 'left', on = '_id')
merge_movies.info()

In [ ]:
#Displaying all the columns after merging the dataframes created from 'Imdb' and 'Tmdb' mongodb collections
pd.set_option('display.max_columns', None)
merge_movies.head(2)

In [ ]:
import datetime
import time

In [ ]:
#Cleaning and creating the final dataframe to insert in postgresql
selected_columns = ['_id','Title','tagline','Plot','release_date','Rated','runtime','Awards','budget','revenue','popularity'
                    ,'adult','imdbRating','Metascore','Rotten Tomatoes','vote_average','Year','vote_count','Runtime','Released']
selected_df = merge_movies.loc[:,selected_columns]
selected_df.loc[selected_df['Released'] == "N/A", 'Released'] = "01 Jan 1970"
selected_df.runtime.fillna(selected_df.Runtime.apply(lambda x : re.search(r'(^\d*)', x).group(0)), inplace=True)
selected_df.release_date.fillna(selected_df.Released.apply(lambda x : datetime.datetime.strptime(x,"%d %b %Y").strftime('%Y-%m-%d')), inplace=True)
selected_df.drop(['Runtime','Released'], axis = 1, inplace=True)
selected_df.shape

In [ ]:
#Extracting information on oscar nomination and win for best pictures from oscars dataframe
best_pictures_df = new_oscars_df.loc[new_oscars_df['category'] == 'Best Picture'].copy()
best_pictures_df.drop(['year','index','category','nominee_name'], axis=1, inplace=True)
best_pictures_df['oscar_nomination'] = 1
best_pictures_df.rename(columns = {'movie':'Title', 'is_win':'oscar_win'}, inplace=True)
best_pictures_df.head(5)
#merge movie dataframe and oscar data frame on Title
new_df = pd.merge(selected_df, best_pictures_df, how='outer', on ='Title')

In [ ]:
#creating and inserting 'oscar_win' and 'oscar_nomination' columns in the dataframe
new_df.insert(8, 'oscar_win', new_df.pop('oscar_win'))
new_df.insert(9, 'oscar_nomination', new_df.pop('oscar_nomination'))
new_df['oscar_nomination'].fillna(0, inplace=True)
new_df['oscar_win'].fillna(0, inplace=True)
new_df['Awards'].fillna("N/A", inplace=True)
new_df.head(5)

In [ ]:
#creating and inserting 'award_wins' and 'award_nominations' columns in the dataframe
def extract_awards(regex, string):
    partial_match = re.search(regex, string)
    if partial_match == None:
        return 0
    return int(re.search(r'(^\d*)', partial_match.group(0)).group(0))

new_df.insert(7, 'award_wins',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\swin)', x)))
new_df.insert(8, 'award_nominations',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\snomination)', x)))
new_df.drop(columns = ['Awards'], inplace=True)
new_df.info()

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Rename some columns
new_df.rename(columns = {'_id': 'movie_id', 'Title':'title', 'Plot' : 'plot', 'Rated':'certificate','imdbRating':'imdb_rating',
                        'Metascore' : 'metascore', 'Rotten Tomatoes':'rotten_tomatoes', 'Year': 'year'}, inplace=True)


#Fill "N/A" and Null values in all the columns
new_df.movie_id.fillna(0, inplace=True)
new_df.tagline.fillna("N/A", inplace=True)
new_df['plot'].fillna("N/A", inplace=True)
new_df.release_date.fillna("1970-01-01", inplace=True)
new_df.certificate.fillna("N/A", inplace=True)
new_df.runtime.fillna("0", inplace=True)
new_df.budget.fillna("0.0", inplace=True)
new_df.revenue.fillna("0.0", inplace=True)
new_df.popularity.fillna("0.0", inplace=True)
new_df.adult.fillna("N/A", inplace=True)
new_df.imdb_rating.fillna("0.0", inplace=True)
new_df.imdb_rating = new_df.imdb_rating.apply(lambda x : '0.0' if x == "N/A" else x)
new_df.metascore.fillna("0", inplace=True)
new_df.metascore = new_df.metascore.apply(lambda x : '0' if x == "N/A" else x)
new_df.rotten_tomatoes.fillna("0", inplace=True)
new_df.vote_average.fillna(0.0, inplace=True)
new_df.year.fillna("0", inplace=True)
new_df.vote_count.fillna("0", inplace=True)

#Replacing empty values
new_df[new_df['runtime'] == ''].index
new_df.loc[new_df['runtime'] == '', 'runtime'] = "0"

In [ ]:
#Changing Datatypes in the final movie dataframe
new_df = new_df.astype({'movie_id':int, 'runtime':int, 'oscar_win':int, 'oscar_nomination':int, 
                         'vote_count': int})

print(new_df.info())

In [ ]:
#TODO: REFACTOR THE CODE TO REMOVE REDUNDANCY
#Creating dataframes for Production, Language, Genre, Director, Writer and Actor informations
language_dict_list = []
genre_dict_list = []
production_dict_list = []
director_dict_list = []
writer_dict_list = []
actor_dict_list = []
merge_movies['languages'].fillna("N/A", inplace=True)
merge_movies['productions'].fillna("N/A" , inplace=True)
for index, movie in merge_movies.iterrows():
    movie_id = movie['_id']
    languages = movie['languages']
    genres = movie['Genre']
    directors = movie['Director']
    writers = movie['Writer']
    actors = movie['Actors']
    productions = movie['productions']
    for language in languages.split(','):
        language_dict_list.append({"movie_id" : movie_id, "lang" : language})
    for genre in genres.split(','):
        genre_dict_list.append({"movie_id" : movie_id, "type" : genre})
    for producer in productions.split(','):
        production_dict_list.append({"movie_id" : movie_id, "name" : producer})
    for director in directors.split(','):
        director_dict_list.append({"movie_id" : movie_id, "director" : director})
    for writer in writers.split(','):
        writer_dict_list.append({"movie_id" : movie_id, "writer" : writer})
    for actor in actors.split(','):
        actor_dict_list.append({"movie_id" : movie_id, "actor" : actor})
        
language_df = pd.DataFrame(language_dict_list)
genre_df = pd.DataFrame(genre_dict_list)
production_df = pd.DataFrame(production_dict_list)
director_df = pd.DataFrame(director_dict_list)
writer_df = pd.DataFrame(writer_dict_list)
actor_df = pd.DataFrame(actor_dict_list)

In [ ]:
#Importing important packages for postgresql operations
from PostgreSqlHelper import Connection
from sqlalchemy import create_engine

In [ ]:
#Opening a connection to PostgreSQL server
conn = Connection()
cursor = conn.create_cursor()

#Creating a new database
cursor.execute('CREATE DATABASE motion_pictures;')

#Closing the cursor and connection
cursor.close()
conn.close()

In [ ]:
#Opening a new connection with the newly created database 
cursor = Connection("motion_pictures").create_cursor()

In [ ]:
#Creating tables to store information obtained from Mongodb collections
cursor.execute("""CREATE TABLE IF NOT EXISTS Movie (
                    movie_id INT PRIMARY KEY, 
                    title VARCHAR NOT NULL,
                    tagline VARCHAR NOT NULL,
                    plot VARCHAR NOT NULL,
                    released_date VARCHAR NOT NULL,
                    certificate VARCHAR NOT NULL,
                    runtime INT,
                    award_wins INT,
                    award_nominations INT,
                    oscar_win INT,
                    oscar_nomination INT,
                    budget VARCHAR,
                    revenue VARCHAR,
                    popularity VARCHAR,
                    adult VARCHAR,
                    imdb_rating VARCHAR,
                    metascore VARCHAR,
                    rotten_tomatoes VARCHAR,
                    vote_average REAL,
                    vote_count INT) """)

cursor.execute(""" CREATE TABLE IF NOT EXISTS Language (movie_id INT, lang VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, lang),
                    CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Genre (movie_id INT, type VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, type),
                    CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Producer (movie_id INT, name VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, name),
                    CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Director (movie_id INT, director VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, director),
                    CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Writer (movie_id INT, writer VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, writer),
                    CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Actor (movie_id INT, actor VARCHAR NOT NULL,
                    PRIMARY KEY (movie_id, actor),
                    CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

cursor.execute(""" CREATE TABLE IF NOT EXISTS Academy_awards (award_id SERIAL PRIMARY KEY, year INT, index VARCHAR, 
                                                              category VARCHAR NOT NULL, nominee_name VARCHAR, 
                                                              movie VARCHAR, is_win INT)""")

In [ ]:
#Creating sqlalchemy engine to insert dataframes into postgreSql tables
engine = create_engine('postgresql://postgres:admin@localhost:5432/motion_pictures')

In [ ]:
#Inserting movie information into Movie table
new_df.to_sql('Movie', engine)

#Inserting all multivalued attribute values to their respective sql tables
language_df.to_sql('Language', engine)
genre_df.to_sql('Genre', engine)
production_df.to_sql('Producer', engine)
director_df.to_sql('Director', engine)
writer_df.to_sql('Writer', engine)
actor_df.to_sql('Actor', engine)

#Inserting Academy Awards information into postgresql table
new_oscars_df.to_sql('Academy_awards', engine)