In [ ]:
from WebScraper import Oscars
from DataManager import MongoDBClient
from DataManager import RestClient
from PostgreSqlHelper import Connection
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import re
import math
import json
import datetime
import time
import numpy as np
import missingno as mg
import numpy as np
import matplotlib

In [ ]:
#Important initializations
matplotlib.rc('xtick', labelsize = 12) 
matplotlib.rc('ytick', labelsize = 12)

In [ ]:
#Loading Movielens Movies dataset
movies_df = pd.read_csv('./data/movielens/movies.csv')
movies_df.head(5)

#Extracticg and creating new column "year" from the title column
movies_df['year'] = movies_df['title'].str.extract(r'(\(\d{4}\)$)') #Extracts '(year)' from title
movies_df['year'] = movies_df['year'].str.extract(r'(\d{4})') #Extracts 'year' from '(year)'

#Checking and counting the number of 'NA' values in the 'year' column
print("Is NA values present: {}".format(movies_df['year'].isnull().values.any())) #Find if NA is present in the column 
print("NA values count: {}".format(movies_df['year'].isnull().values.sum())) #Count the number of NA in the column

#Replacing 'NA' values with '0'
movies_df['year'].fillna('0', inplace=True) #Replace NA with value 0

#Converting the datatype of 'year' column from string to int
movies_df = movies_df.astype({'year': int})
movies_df.dtypes

#Sorting the movies in ascending order by year
movies_df.sort_values(by='year', inplace=True)

#Creating a new dataframe with movies starting from 2009
new_movies_df = movies_df.loc[movies_df['year'] >= 2009]
print("Movies count {}".format(len(new_movies_df.index)))
new_movies_df.head(20)

In [ ]:
#Movielens Links dataset
links_df = pd.read_csv('./data/movielens/external_links.csv')

#Checking and counting the number of 'NA' values in the 'tmdbid' and 'imdbid' columns
print("Does 'tmdbid' column contain NA values ?: {}".format(links_df['tmdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['tmdbId'].isnull().values.sum()))
print("Does 'imdbid' column contain NA values ?: {}".format(links_df['imdbId'].isnull().values.any()))
print("NA Values count: {}".format(links_df['imdbId'].isnull().values.sum()))

#Replacing 'NA' values with '0'
links_df['tmdbId'].fillna(0, inplace=True) #Replace NA values with 0

#Checking the column datatypes
print("\n",links_df.dtypes)

#Converting the datatype of 'tmdbId' column from float to int
links_df = links_df.astype({'tmdbId': int})
links_df.head(5)

In [ ]:
#merge movies and link dataframe on movieid
merged_movies_df = pd.merge(new_movies_df, links_df, how='inner', on = 'movieId')
merged_movies_df.head(5)

In [ ]:
no_sql_client = MongoDBClient("Movies")
list_mongodb_collection = no_sql_client.get_collections_list()
if len(list_mongodb_collection) == 0:
    no_sql_client.create_Collections(['State','Imdb', 'Tmdb', 'Oscars'])

In [ ]:
#Fetching data from "rapid-api" and "The movie database"
if ("State" in list_mongodb_collection) & (no_sql_client.find_one("State")['overall_status'] == "In Progress"):
    RestClient(merged_movies_df).fetch_data()

In [ ]:
#Scraping data from 'Academy Awards website'
if ("Oscars" in list_mongodb_collection) & (no_sql_client.count_documents("Oscars") < 17):
    oscars_dict = Oscars().scrape()
    print(oscars_dict)
    for ceremony in oscars_dict['oscar_ceremonies']:
        no_sql_client.insert_one(ceremony, "Oscars")

In [ ]:
#Fetching imdb, tmdb and oscars data data from Mongodb
imdb_cursor = no_sql_client.find_many("Imdb", {})
tmdb_cursor = no_sql_client.find_many("Tmdb", {})
oscars_cursor = no_sql_client.find_many("Oscars", {})

#Creating respective dataframes from the pymongo cursor objects fetched from mongodb
imdb_df = pd.DataFrame(imdb_cursor)
tmdb_df = pd.DataFrame(tmdb_cursor)
oscars_df = pd.DataFrame(oscars_cursor)

In [ ]:
print(imdb_df.shape)
print(imdb_df.info())
print(tmdb_df.shape)
print(tmdb_df.info())

In [ ]:
#Parsing oscars information obtained from mongodb into a dictionary and creating a dataframe out of it
oscar_dict_list = []

#Extract writer names from sentences in the record
def extract_writer_names(name):
    return re.split(', | & | and', name.split(';')[0].split('by')[1].strip())

def create_nominee_dictionary_based_on_category(year, index, category, nominee, movie, oscar_win):
    row_dict = {}
    row_dict['year'] = year
    row_dict['index'] = index
    row_dict['category'] = category
    row_dict['nominee_name'] = nominee
    row_dict['movie'] = movie
    row_dict['is_win'] = oscar_win
    return row_dict

for index, ceremony in oscars_df.iterrows():
    ceremony_year = ceremony['year']
    ceremony_index = re.search(r'(\d{2}[a-z]{2})',ceremony['index']).group(0)
    directing = ceremony['directing']
    acting = ceremony['acting']
    acting_female = ceremony['acting_female']
    s_acting = ceremony['support_acting']
    s_acting_female = ceremony['support_acting_female']
    best_picture = ceremony['best_picture']
    writing_adapted = ceremony['writing_adapted']
    writing_original = ceremony['writing_original']
    
    winner_directing = directing['winner']
    winner_director = winner_directing['director']
    for nomination in directing['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Directing", 
                                                          nomination['director'], 
                                                          nomination['movie'],
                                                          1 if winner_director == nomination['director'] else 0)
        oscar_dict_list.append(row)
            
    winner_acting = acting['winner']
    winner_actor = winner_acting['actor']
    for nomination in acting['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Acting Male", 
                                                          nomination['actor'], 
                                                          nomination['movie'],
                                                          1 if winner_actor == nomination['actor'] else 0)
        oscar_dict_list.append(row)
        
    s_winner_acting = s_acting['winner']
    s_winner_actor = s_winner_acting['actor']
    for nomination in s_acting['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Support Acting Male", 
                                                          nomination['actor'], 
                                                          nomination['movie'],
                                                          1 if winner_actor == nomination['actor'] else 0)
        oscar_dict_list.append(row)
    
    winner_acting_female = acting_female['winner']
    winner_actress = winner_acting_female['actress']
    for nomination in acting_female['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Acting Female", 
                                                          nomination['actress'], 
                                                          nomination['movie'],
                                                          1 if winner_actress == nomination['actress'] else 0)
        oscar_dict_list.append(row)
        
    s_winner_acting_female = s_acting_female['winner']
    s_winner_actress = s_winner_acting_female['actress']
    for nomination in s_acting_female['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Support Acting Female", 
                                                          nomination['actress'], 
                                                          nomination['movie'],
                                                          1 if winner_actress == nomination['actress'] else 0)
        oscar_dict_list.append(row)
            
    winner_movie = best_picture['winner']
    winner_picture = winner_movie['movie']
    for nomination in best_picture['nominations']:
        row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Best Picture", 
                                                          nomination['movie'], 
                                                          nomination['movie'],
                                                          1 if winner_picture == nomination['movie'] else 0)
        oscar_dict_list.append(row)
            
    winner_writing_adapted = writing_adapted['winner']
    winner_writer_adapted = winner_writing_adapted['writer']
    for nomination in writing_adapted['nominations']:
        names = extract_writer_names(nomination['writer'])
        for name in names:
            row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Writing Adapted", 
                                                          name, 
                                                          nomination['movie'],
                                                          1 if winner_writer_adapted == nomination['writer'] else 0)
            oscar_dict_list.append(row)
            
    winner_writing_original = writing_original['winner']
    winner_writer_original = winner_writing_original['writer']
    for nomination in writing_original['nominations']:
        names = extract_writer_names(nomination['writer'])
        for name in names:
            row = create_nominee_dictionary_based_on_category(ceremony_year, 
                                                          ceremony_index, 
                                                          "Writing Original", 
                                                          name, 
                                                          nomination['movie'],
                                                          1 if winner_writer_original == nomination['writer'] else 0)
            oscar_dict_list.append(row)
  
new_oscars_df = pd.DataFrame(oscar_dict_list)
print(new_oscars_df.head(5))

In [ ]:
#Creating comma separated values from json array
def parse_json_arr_return_csv(array, tag):
    names_list = []
    for dict in array:
        names_list.append(dict[tag])
    return ','.join([nm for nm in names_list])

#Dynamically storing the comma-separated strings in their respective columns inside "Tmdb" dataframe
tmdb_df['productions'] = tmdb_df['production_companies'].apply(lambda x : parse_json_arr_return_csv(x, 'name'))
tmdb_df['languages'] = tmdb_df['spoken_languages'].apply(lambda x : parse_json_arr_return_csv(x, 'english_name'))
tmdb_df['genre'] = tmdb_df['genres'].apply(lambda x : parse_json_arr_return_csv(x, 'name'))

In [ ]:
#Parsing the 'rating' json arrays and creating a dictionary
dict_list = []
for index, movie in imdb_df.iterrows():
    dict = {'_id' : movie['_id']}
    for obj in movie['Ratings']:
        dict[obj['Source']] = obj['Value']
    dict_list.append(dict)

#Generating ratings dataframe from the respective dictionary    
ratings_df = pd.DataFrame(dict_list)
ratings_df.head(2)

In [ ]:
#Merging the rating information with the movie dataframe
final_imdb_df = pd.merge(imdb_df, ratings_df, how = "inner", on = "_id")
final_imdb_df.head(3)

In [ ]:
#Defining a function to find columns based on percentage of "N/A" and null values and a cutoff
def find_columns_with_na(column, df, cutoff):
    size = len(df)
    na_size = len(df.loc[df[column] == "N/A"])
    null_size = df[column].isnull().values.sum()
    na_percentage = (na_size / size) * 100
    null_percentage = (null_size / size) * 100
    if na_percentage > cutoff or null_percentage > cutoff:
        return True
    else:
        return False
    
#Dynamically selecting columns containing more than 50 percentage of "N/A" and "Null" values in the dataframe
drop_cols_imdb = [col for col in final_imdb_df.columns if find_columns_with_na(col, final_imdb_df, 50)]
drop_cols_tmdb = [col for col in tmdb_df.columns if find_columns_with_na(col, tmdb_df, 50)]
print(drop_cols_imdb)
print(drop_cols_tmdb)

In [ ]:
#Also drop other unimportant columns from both Imdb and Tmdb dataframes
drop_cols_imdb.extend(['Ratings', 'Response', 'Type', 'DVD', 'Poster'])
final_imdb_df.drop(drop_cols_imdb, axis = 1, inplace=True)

drop_cols_tmdb.extend(['video', 'status', 'production_countries', 'imdb_id', 'homepage','backdrop_path','poster_path','production_companies','genres','spoken_languages'])
tmdb_df.drop(drop_cols_tmdb, axis = 1, inplace=True)

In [ ]:
#Merging "Imdb" and "Tmdb" dataframes generated from respective mongodb collections to generate consolidated dataframe
movies_df = pd.merge(final_imdb_df, tmdb_df, how = 'left', on = '_id')
movies_df.info()

In [ ]:
#Displaying all the columns after merging the dataframes created from 'Imdb' and 'Tmdb' mongodb collections
pd.set_option('display.max_columns', None)
movies_df.head(2)

In [ ]:
#Cleaning and creating the final dataframe to insert in postgresql
#Seelcting columns
selected_columns = ['_id','Title','tagline','Plot','release_date','Rated','runtime','Awards','budget','revenue','popularity'
                    ,'imdbRating','Metascore','Rotten Tomatoes','vote_average','Year','vote_count','Runtime','Released']
selected_df = movies_df.loc[:,selected_columns]
#Setting all "N/A" dates with 01 Jan 1970
selected_df.loc[selected_df['Released'] == "N/A", 'Released'] = "01 Jan 1970"
selected_df.runtime.fillna(selected_df.Runtime.apply(lambda x : re.search(r'(^\d*)', x).group(0)), inplace=True)
selected_df.release_date.fillna(selected_df.Released.apply(lambda x : datetime.datetime.strptime(x,"%d %b %Y").strftime('%Y-%m-%d')), inplace=True)
selected_df.drop(['Runtime','Released'], axis = 1, inplace=True)
selected_df.info()

In [ ]:
#Extracting information on oscar nomination and win for best pictures from oscars dataframe
best_pictures_df = new_oscars_df.loc[new_oscars_df['category'] == 'Best Picture'].copy()
best_pictures_df.drop(['year','index','category','nominee_name'], axis=1, inplace=True)
best_pictures_df['oscar_nomination'] = 1
best_pictures_df.rename(columns = {'movie':'Title', 'is_win':'oscar_win'}, inplace=True)
best_pictures_df.head(5)
#merge movie dataframe and oscar data frame on Title
new_df = pd.merge(selected_df, best_pictures_df, how='left', on ='Title')

In [ ]:
#creating and inserting 'oscar_win' and 'oscar_nomination' columns in the dataframe
new_df.insert(8, 'oscar_win', new_df.pop('oscar_win'))
new_df.insert(9, 'oscar_nomination', new_df.pop('oscar_nomination'))
new_df['oscar_nomination'].fillna(0, inplace=True)
new_df['oscar_win'].fillna(0, inplace=True)
new_df['Awards'].fillna(np.nan, inplace=True)
new_df.head(2)

In [ ]:
#creating and inserting 'award_wins' and 'award_nominations' columns in the dataframe
def extract_awards(regex, string):
    partial_match = re.search(regex, string)
    if partial_match == None:
        return 0
    return int(re.search(r'(^\d*)', partial_match.group(0)).group(0))

new_df.insert(7, 'award_wins',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\swin)', x)))
new_df.insert(8, 'award_nominations',new_df['Awards'].apply(lambda x : extract_awards(r'(\d*\snomination)', x)))
new_df.drop(columns = ['Awards'], inplace=True)
new_df.head(2)

In [ ]:
#Rename some columns
new_df.rename(columns = {'_id': 'movie_id', 'Title':'title', 'Plot' : 'plot', 'Rated':'certificate','imdbRating':'imdb_rating',
                        'Metascore' : 'metascore', 'Rotten Tomatoes':'rotten_tomatoes', 'Year': 'year'}, inplace=True)


#Fill "N/A" and Null values in all the columns

new_df.replace({'N/A': np.nan, '1970-01-01' : np.nan, '': np.nan, ' ':np.nan}, inplace = True)


#Replace empty values

rotten_tomatoes_data = pd.DataFrame(new_df['rotten_tomatoes'])
rotten_tomatoes_data.dropna(inplace = True)
rotten_tomatoes_data['rotten_tomatoes'] = rotten_tomatoes_data['rotten_tomatoes'].apply(lambda x : re.search(r'(^\d*)', x).group(0))
rotten_tomatoes_median = int(rotten_tomatoes_data['rotten_tomatoes'].median())

metascore_median = int(new_df['metascore'].median(skipna = True))
runtime_median = int(new_df['runtime'].median(skipna = True))

new_df['tagline'].fillna("No Tagline", inplace = True)
new_df['certificate'].fillna("N/A", inplace = True)
new_df['metascore'].fillna(str(metascore_median), inplace=True)
new_df['rotten_tomatoes'].fillna(str(rotten_tomatoes_median) + '%', inplace=True)

#Extracting year from range 'yyyy-yyyy'
new_df['year'] = new_df['year'].apply(lambda x : re.search(r'(^\d{4})', x).group(0))
new_df['rotten_tomatoes'] = new_df['rotten_tomatoes'].apply(lambda x : re.search(r'(^\d*)', x).group(0))
new_df.runtime.fillna(str(runtime_median), inplace=True)
new_df.vote_count.fillna(0, inplace=True)
new_df.info()

In [ ]:
#Changing Datatypes in the final movie dataframe
new_df = new_df.astype({'movie_id':'int32', 'runtime':'int32', 'oscar_win':'int32', 'oscar_nomination':'int32', 
                         'vote_count': 'int32', 'imdb_rating' : 'float64', 'metascore' : 'int32', 'rotten_tomatoes' : 'int32'}, copy = True)

print(new_df.info())

In [ ]:
#Creating dataframes for Production, Language, Genre, Director, Writer and Actor informations
language_dict_list = []
genre_dict_list = []
production_dict_list = []
director_dict_list = []
writer_dict_list = []
actor_dict_list = []
movies_df['languages'].fillna("N/A", inplace=True)
movies_df['productions'].fillna("N/A" , inplace=True)
for index, movie in movies_df.iterrows():
    movie_id = movie['_id']
    languages = movie['languages']
    genres = movie['Genre']
    directors = movie['Director']
    writers = movie['Writer']
    actors = movie['Actors']
    productions = movie['productions']
    for language in languages.split(','):
        language_dict_list.append({"movie_id" : movie_id, "lang" : language})
    for genre in genres.split(','):
        genre_dict_list.append({"movie_id" : movie_id, "type" : genre})
    for producer in productions.split(','):
        production_dict_list.append({"movie_id" : movie_id, "name" : producer})
    for director in directors.split(','):
        director_dict_list.append({"movie_id" : movie_id, "director" : director})
    for writer in writers.split(','):
        writer_dict_list.append({"movie_id" : movie_id, "writer" : writer})
    for actor in actors.split(','):
        actor_dict_list.append({"movie_id" : movie_id, "actor" : actor})
        
language_df = pd.DataFrame(language_dict_list)
genre_df = pd.DataFrame(genre_dict_list)
production_df = pd.DataFrame(production_dict_list)
director_df = pd.DataFrame(director_dict_list)
writer_df = pd.DataFrame(writer_dict_list)
actor_df = pd.DataFrame(actor_dict_list)

In [ ]:
def close_sql_connection(connection, cursor):
    #Closing the cursor and connection
    cursor.close()
    connection.close()

#Opening a connection to PostgreSQL server
try:
    conn = Connection()
    cursor = conn.create_cursor()

    #Creating a new database
    # DROP DATABASE IF EXISTS motion_pictures;
    cursor.execute('DROP DATABASE IF EXISTS motion_pictures;')
    cursor.execute('CREATE DATABASE motion_pictures;')
except:
    print("Exception")
    close_sql_connection(conn, cursor)
finally:
    close_sql_connection(conn, cursor)

In [ ]:
#Opening a new connection with the newly created database 
new_connection = Connection("motion_pictures")
cursor = new_connection.create_cursor()

In [ ]:
#Creating tables to store information obtained from Mongodb collections
try:
    cursor.execute("""CREATE TABLE IF NOT EXISTS Movie (
                        movie_id INT PRIMARY KEY, 
                        title VARCHAR NOT NULL,
                        tagline VARCHAR NOT NULL,
                        plot VARCHAR NOT NULL,
                        released_date VARCHAR NOT NULL,
                        certificate VARCHAR NOT NULL,
                        runtime INT,
                        award_wins INT,
                        award_nominations INT,
                        oscar_win INT,
                        oscar_nomination INT,
                        budget REAL,
                        revenue REAL,
                        popularity REAL,
                        imdb_rating REAL,
                        metascore INT,
                        rotten_tomatoes INT,
                        vote_average REAL,
                        year VARCHAR,
                        vote_count INT) """)

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Language (movie_id INT, lang VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, lang),
                        CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Genre (movie_id INT, type VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, type),
                        CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Producer (movie_id INT, name VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, name),
                        CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Director (movie_id INT, director VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, director),
                        CONSTRAINT fk_movie_lan FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Writer (movie_id INT, writer VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, writer),
                        CONSTRAINT fk_movie_genre FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Actor (movie_id INT, actor VARCHAR NOT NULL,
                        PRIMARY KEY (movie_id, actor),
                        CONSTRAINT fk_movie_prod FOREIGN KEY (movie_id) REFERENCES Movie(movie_id))""")

    cursor.execute(""" CREATE TABLE IF NOT EXISTS Academy_awards (award_id SERIAL PRIMARY KEY, year INT, index VARCHAR, 
                                                                  category VARCHAR NOT NULL, nominee_name VARCHAR, 
                                                                  movie VARCHAR, is_win INT)""")
except:
    print("Exception")
    close_sql_connection(new_connection, cursor)
finally:
    close_sql_connection(new_connection, cursor)

In [ ]:
#Creating sqlalchemy engine to insert dataframes into postgreSql tables
engine = create_engine('postgresql://postgres:admin@localhost:5432/motion_pictures')

In [ ]:
try:
    #Inserting movie information into Movie table
    new_df.to_sql('Movie', engine)

    #Inserting all multivalued attribute values to their respective sql tables
    language_df.to_sql('Language', engine)
    genre_df.to_sql('Genre', engine)
    production_df.to_sql('Producer', engine)
    director_df.to_sql('Director', engine)
    writer_df.to_sql('Writer', engine)
    actor_df.to_sql('Actor', engine)

    #Inserting Academy Awards information into postgresql table
    new_oscars_df.to_sql('Academy_awards', engine)
except:
    close_sql_connection(conn, cursor)
finally:
    close_sql_connection(conn, cursor)

<h2>Exploratory Data Analysis</h2>
<h3>Movie table variables</h3>
</br>
<body>
    <i><b>movie_id :</b></i> Unique Id of movies derived from Movielens dataset </br>
    <i><b>title :</b></i> Title for the movie </br>
    <i><b>tagline :</b></i> Catchy oneliner for attracting viewers </br>
    <i><b>plot :</b></i> Plot summary of the movie </br>
    <i><b>release_date :</b></i> Release date </br>
    <i><b>certificate :</b></i> Censorship rating attributed to each movie for </br>
    <i><b>runtime :</b></i> Runtime of the movie in minutes </br>
    <i><b>award_wins :</b></i> Number of award wins excluding oscar</br>
    <i><b>award_nominations :</b></i> Number of award nominations excluding oscar</br>
    <i><b>oscar_win :</b></i> 1 or 0 value to denote oscar win in "Best Picture" category</br>
    <i><b>oscar_nomination :</b></i> 1 or 0 value to denote oscar nomination in "Best Picture" category</br>
    <i><b>budget :</b></i> Budget of the movie in dollars </br>
    <i><b>revenue :</b></i> Revenue collected by the movie</br>
    <i><b>popularity :</b></i> Popularity rating collected from Tmdb database </br>
    <i><b>imdb_rating :</b></i> Imdb ratting taken for Imdb database.</br>
    <i><b>metascore :</b></i> Metacritic ratings </br>
    <i><b>rotten_tomatoes :</b></i> Rotten Tomatoes ratings</br>
    <i><b>vote_average :</b></i> Tmdb rating </br>
    <i><b>year :</b></i> Year when movie was released </br>
    <i><b>vote_count :</b></i> Number of votes recorded in Tmdb website </br>
</body

<h3>Loading Data from PostgreSQL Database</h3>

In [ ]:
#Fetch data from PostgreSQL directly
movie_data = pd.read_sql("""SELECT * FROM "Movie";""", con = engine)
director_data = pd.read_sql("""SELECT * FROM "Director";""", con = engine)
writer_data = pd.read_sql("""SELECT * FROM "Writer";""", con = engine)
actor_data = pd.read_sql("""SELECT * FROM "Actor";""", con = engine)
producer_data = pd.read_sql("""SELECT * FROM "Producer";""", con = engine)
language_data = pd.read_sql("""SELECT * FROM "Language";""", con = engine)
genre_data = pd.read_sql("""SELECT * FROM "Genre";""", con = engine)

In [ ]:
movie_data.info()

In [ ]:
#Copy the main data
df_movie = movie_data.copy()
df_director = director_data.copy()
df_writer = writer_data.copy()
df_actor = actor_data.copy()
df_producer = producer_data.copy()
df_language = language_data.copy()
df_genre = genre_data.copy()
print(df_movie.shape)
df_movie.head(2)

In [ ]:
#Verifying if data collected is between 2009 and 2018
df_movie['year'].value_counts()

In [ ]:
#Removing unwanted records for year 2008 and 2007
indices = df_movie.index[(df_movie['year'] == '2007') | (df_movie['year'] == '2008')].tolist()
df_movie.drop(index = indices, axis = 0, inplace = True)
df_movie['year'].value_counts()

In [ ]:
#Checking for null values
mg.bar(df_movie, color = 'lightblue')
plt.title('Checking for Null Values\n', fontsize = 20)
plt.show()

In [ ]:
#Checking if Budget and Revenue has 0 values
print(len(df_movie.loc[df_movie['budget'] == 0.0]))
print(len(df_movie.loc[df_movie['revenue'] == 0.0]))

In [ ]:
#Replacing 0 values with mean or median
median_budget = df_movie['budget'].median()
median_revenue = df_movie['revenue'].median()
df_movie.loc[df_movie['budget'] == 0.0, 'budget'] = median_budget
df_movie.loc[df_movie['revenue'] == 0.0, 'revenue'] = median_revenue
df_movie.head(2)

In [ ]:
#Display Descriptives
df_descriptives = df_movie.copy()
df_descriptives.drop(['movie_id'], axis = 1, inplace = True)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df_descriptives.describe().T

<h3>Feature Engineering</h3>
<h4>Following new variables are added after feature engineering:</h4>
</br>
<body>
    <i><b>writer_count : </b></i>Number of writers involved with the screenplay </br>
    <i><b>director_count : </b></i>Number of directors directing the movie </br>
    <i><b>producer_count : </b></i>Number of production houses producing the movie </br>
    <i><b>is_director_nominated : </b></i>0 or 1 value to denote if at least one oscar nominated director is involved with the movie </br>
    <i><b>is_writer_nominated : </b></i>0 or 1 value to denote if at least one writer is Oscar nominated</br>
    <i><b>is_actor_nominated : </b></i>0 or 1 value to denote at least one lead actor is Oscar nominated</br>
    <i><b>is_actress_nominated: </b></i>0 or 1 value to denote if at least one lead actress is Oscar nominated
 </body>

In [ ]:
#Creating new dataframes with director, writer and producer counts
new_df_director = pd.DataFrame().assign(movie_id = df_director['movie_id'], director_count = 1)
new_df_writer = pd.DataFrame().assign(movie_id = df_writer['movie_id'], writer_count = 1)
new_df_producer = pd.DataFrame().assign(movie_id = df_producer['movie_id'], producer_count = 1)

#Adding up the counts for director, writer and producer
new_df_director = new_df_director.groupby(['movie_id']).agg({'director_count': sum}).reset_index()
# new_df_director['director_count'] = new_df_director['director_count'].apply(str)
new_df_writer = new_df_writer.groupby(['movie_id']).agg({'writer_count': sum}).reset_index()
# new_df_writer['writer_count'] = new_df_writer['writer_count'].apply(str)
new_df_producer = new_df_producer.groupby(['movie_id']).agg({'producer_count': sum}).reset_index()
# new_df_producer['producer_count'] = new_df_producer['producer_count'].apply(str)

#Merge all the counts to main 'movie' dataframe
df_movie = pd.merge(df_movie, new_df_director, how = 'inner', on = 'movie_id')
df_movie= pd.merge(df_movie, new_df_writer, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, new_df_producer, how = 'inner', on = 'movie_id')
df_movie.head(2)

In [ ]:
#Creating new features to present if any director, writer, actor. actress is oscar nominated
#SQL Query
#pd.read_sql("""SELECT "nominee_name" , 1 as is_nominated FROM "Academy_awards" WHERE category = 'Directing';""", con=engine).head(5)
df_n_director = pd.read_sql("""SELECT "movie_id","director", "is_director_nominated" FROM "Director" LEFT JOIN (
SELECT "nominee_name" , 1 as is_director_nominated FROM "Academy_awards" WHERE category = 'Directing'
) as Awards ON director = nominee_name;""", con=engine).fillna(0)

df_n_writer = pd.read_sql("""SELECT "movie_id","writer", "is_writer_nominated" FROM "Writer" LEFT JOIN (
SELECT "nominee_name" , 1 as is_writer_nominated FROM "Academy_awards" WHERE category IN ('Writing Adapted','Writing Original')
) as Awards ON writer = nominee_name;""", con=engine).fillna(0)

df_n_actor = pd.read_sql("""SELECT "movie_id","actor", "is_actor_nominated" FROM "Actor" LEFT JOIN (
SELECT "nominee_name" , 1 as is_actor_nominated FROM "Academy_awards" WHERE category IN ('Acting Male','Support Acting Male')
) as Awards ON actor = nominee_name;""", con=engine).fillna(0)

df_n_actress = pd.read_sql("""SELECT "movie_id","actor", "is_actress_nominated" FROM "Actor" LEFT JOIN (
SELECT "nominee_name" , 1 as is_actress_nominated FROM "Academy_awards" WHERE category IN ('Acting Female','Support Acting Female')
) as Awards ON actor = nominee_name;""", con=engine).fillna(0)

df_n_director = df_n_director.groupby(['movie_id']).agg({'is_director_nominated': sum}).reset_index()
df_n_director.loc[df_n_director['is_director_nominated'] > 1, 'is_director_nominated'] = 1

df_n_writer = df_n_writer.groupby(['movie_id']).agg({'is_writer_nominated': sum}).reset_index()
df_n_writer.loc[df_n_writer['is_writer_nominated'] > 1, 'is_writer_nominated'] = 1

df_n_actor = df_n_actor.groupby(['movie_id']).agg({'is_actor_nominated': sum}).reset_index()
df_n_actor.loc[df_n_actor['is_actor_nominated'] > 1, 'is_actor_nominated'] = 1

df_n_actress = df_n_actress.groupby(['movie_id']).agg({'is_actress_nominated': sum}).reset_index()
df_n_actress.loc[df_n_actress['is_actress_nominated'] > 1, 'is_actress_nominated'] = 1

#merge all the nomination information with main dataframe
df_movie = pd.merge(df_movie, df_n_director, how = 'inner', on = 'movie_id')
df_movie= pd.merge(df_movie, df_n_writer, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, df_n_actor, how = 'inner', on = 'movie_id')
df_movie = pd.merge(df_movie, df_n_actress, how = 'inner', on = 'movie_id')
df_movie.head(2)

In [ ]:
df_movie.info()

In [ ]:
#Converting certain columns to their appropriate datatypes
df_movie = df_movie.astype({'is_director_nominated':'int32', 'is_writer_nominated':'int32', 'is_actor_nominated': 'int32', 'is_actress_nominated': 'int32'})
df_movie.info()

In [ ]:
#Function to find outliers based on IQR calculation
def find_outlier(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    min = Q1 - (IQR * 1.5)
    max = Q3 + (IQR * 1.5)
    df_outlier = df[(df[col] < min) | (df[col] > max)]
    print("Number of outliers in {} : {}".format(col, len(df_outlier)))
    return df_outlier

In [ ]:
#Segregating categorial , continuous and character variables
columns_cat = ['certificate', 'year','oscar_win', 'oscar_nomination','is_director_nominated','is_writer_nominated',
               'is_actor_nominated','is_actress_nominated','director_count', 'writer_count', 'producer_count']
columns_char = ['title','tagline','plot','release_date']
non_continuous_columns = columns_cat + columns_char
columns_num = [col for col in df_movie.columns if col not in non_continuous_columns]

In [ ]:
#Finding outlier for each columns in the dataframe using IQR
for col in columns_num[2:]:
    find_outlier(df_movie, col)

In [ ]:
# plt.style.use('seaborn-bright')

In [ ]:
fig,axes = plt.subplots(2, 2, figsize = (15, 15))
sns.boxplot(x='oscar_nomination', y='metascore', data=df_movie, ax = axes[0,0])
sns.boxplot(x='oscar_win', y='metascore', data=df_movie, ax = axes[0,1])
sns.boxplot(x='oscar_win', y='vote_average', data=df_movie, ax = axes[1,0])
sns.boxplot(x='oscar_nomination', y='vote_average', data=df_movie, ax = axes[1,1])
plt.show()

In [ ]:
#Histogram for the numerical columns
fig = plt.figure(figsize = (30,20))
df_movie[columns_num[2:]].hist(ax = fig.gca())
plt.show()

In [ ]:
# Generating a heat map from correlation matrix
plt.figure(figsize = (20, 15))
cmap = sns.diverging_palette(230, 20, as_cmap=True)
corr = df_movie[columns_num].corr()
sns.heatmap(corr, cmap = cmap, annot = True)
plt.xticks(rotation = 90)
plt.yticks(rotation = 0)
plt.show()

<h3>Observation:</h3>
<ul>Revenue is correlated with popularity and vote count<ul>
<ul>Budget is also correlated to vote count</ul>

In [ ]:
#Building subplots to accomodate two different plots
fig, ax = plt.subplots(1, 2, figsize = (14, 8))

#Number of movies categorized by oscar nominationa and certificates
plot = sns.countplot(x = 'certificate', data = df_movie, hue = 'oscar_nomination')
plot.set_title("Number of Movies by certificate and Oscar nominations", fontsize = 12)

#Building pie chart based on certificate
df_certificate_dist = pd.read_sql("""SELECT certificate, COUNT(certificate) FROM "Movie" group by "certificate" ORDER BY count DESC;""", con = engine)
df_certificate_dist_top = df_certificate_dist[:6].copy()
df_certificate_dist_others = pd.DataFrame(data = {'certificate': ['Others'], 'count' : [df_certificate_dist.loc[6:,'count'].sum()]})
df_certificate_dist_top = pd.concat([df_certificate_dist_top, df_certificate_dist_others])
ax[0].pie(df_certificate_dist_top['count'], labels = df_certificate_dist_top['certificate'], autopct='%1.1f%%',startangle=15, shadow = True)
ax[0].set_title('Movie Distribution by Censor Certificate', fontsize = 12)


plt.xticks(rotation = 45)
plt.tight_layout()
plt.grid(True)
plt.show()

<h3>Observation :</h3> Data reveals almost 39% and 26% movies produced during the period 2009-2013 were rated respectively 'R' and 'PG-13' . Also most of the oscar nominations came from 'R' and 'PF-13' rated movies.

In [ ]:
#Plot budget and revenue
plt.figure(figsize=(15, 8))
df_financial = df_movie[['year', 'budget', 'revenue']].copy()
df_financial = df_financial.groupby(['year']).agg({'budget': sum, 'revenue' : sum}).reset_index()
plt.plot(df_financial['year'], df_financial['budget'] / 1000000, label = "Budget", marker = '.')
plt.plot(df_financial['year'], df_financial['revenue'] / 1000000, label = "Revenue", marker = '.')
plt.xlabel('Year', fontsize = 12)
plt.ylabel('Amount(in million $)', fontsize = 12)
plt.title("Yearly Graph of Budget and revenue", fontsize = 14)
plt.legend(fontsize = 12)
plt.grid(True)
plt.show()

<h3>Observation :</h3> This line graph shows fall in profit percentage at the end of the year of 2017

In [ ]:
#Bar charts
plt.figure(figsize = (15, 30))
plotnumber = 1
for column in columns_cat:
    if plotnumber <= len(columns_cat):
        ax = plt.subplot(6, 2, plotnumber)
        sns.countplot(x = column, data = df_movie, ax = ax)
        ax.set_title(f"\n{column} Value Counts\n", fontsize = 20)
        ax.set_ylabel("Number of Movies", fontsize = 12)
        plt.xticks(rotation = 45)
        
    plotnumber += 1
plt.tight_layout()
plt.show()

<h3>Observations:</h3>
    <ul>Steady production of movies each year with exception on 2015</ul>
    <ul>Below 10% (< 200) movies had at least one oscar nominated directors directing the movie</ul>
    <ul>Almost 10% (= 200) movies had at least one oscar nominated writer in the team</ul>
    <ul>More than 10% (> 200) movies had at least one oscar nominated lead acto</ul>
    <ul>Almost 5% (= 100) movies had at least one oscar nominated lead actress</ul>
    <ul>Almost 10% (= 200) movies had at least two directors in the team</ul>
    <ul>Almost 1/3rd of all movies had 1 , 2 and 3 writers. Highest writers count seems to be around 20 in a movie</ul>
    <ul>Highest number producers producing a movie stands around 21</ul>

In [ ]:
#Relation betweem movie budget and award wins plotted based on oscar nomination
df = df_movie[['budget', 'revenue', 'vote_count', 'certificate','oscar_nomination']].copy()
df['budget'] = df['budget'].apply(lambda x : x / 1000000)
df['revenue'] = df['revenue'].apply(lambda x : x / 1000000)
certificates = df.certificate.unique().tolist()
plt.figure(figsize = (15, 30))
for index in enumerate(certificates):
    ax = plt.subplot(round(len(certificates)/ 2), 2, index[0] + 1)
    df_certificate = df[df['certificate'] == index[1]]
    sns.scatterplot(x = 'vote_count', y = 'revenue', data = df_certificate, hue = 'oscar_nomination', ax = ax)
    ax.set_title("Rating : {}".format(index[1]), fontsize = 15)
plt.tight_layout()

<h3>Observation:</h3>
<ul>There seems to be strong positive correlation between the revenue of 'R', 'PG-13' and 'PG' movies towards the vote count</ul>

In [ ]:
# print(df_movie[df_movie['certificate'] == 'M']['budget'])
plt.figure(figsize = (20, 30))
for index in enumerate(columns_cat):
    ax = plt.subplot(6, 2, index[0] + 1)
    sns.barplot(x = df_movie[index[1]], y = (df_movie['budget'] / 1000000), data = df_movie, ax = ax)
    ax.set_ylabel("Avg Movie Budget (in millions)")
    ax.grid(True)
    plt.xticks(rotation = 45)

<h3>Observations:</h3> 
    <ul>'PG', 'PG-13' and 'G' rated movies had the highest average budget.</ul>
    <ul>Movies produced in 2018 were more costlier than movies made on other years</ul>
    <ul>Movies with oscar nominated directors and actors are approx 100% costlier. It shows oscar nominated directors and actors are paid more</ul>
    <ul>Surprisingly movies with oscar nominated actresses had lower budget</ul>
    <ul>Movies with more than 3 directors cost approx 50% less than other movies</ul>
    <ul>Movies with 3 writers are the most costliest</ul>

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(15, 15))

#Building pie chart based on language
df_lang_dist = pd.read_sql("""SELECT lang, COUNT(movie_id) FROM "Language" group by "lang" ORDER BY count DESC;""", con = engine)
df_lang_dist_top_4 = df_lang_dist[:4].copy()
df_lang_dist_others = pd.DataFrame(data = {'lang': ['Others'], 'count' : [df_lang_dist.loc[4:,'count'].sum()]})
df_lang_dist_top_4 = pd.concat([df_lang_dist_top_4, df_lang_dist_others])
ax[0].pie(df_lang_dist_top_4['count'], labels = df_lang_dist_top_4['lang'],autopct='%1.1f%%',startangle=15, shadow = True)
ax[0].set_title('Movie Distribution by Language', fontsize = 15)

#Building pie chart based on genre
df_genre_dist = pd.read_sql("""SELECT type, COUNT(movie_id) FROM "Genre" group by "type" ORDER BY count DESC;""", con = engine)
df_genre_dist_top_4 = df_genre_dist[:10].copy()
df_genre_dist_others = pd.DataFrame(data = {'type': ['Others'], 'count' : [df_genre_dist.loc[10:,'count'].sum()]})
df_genre_dist_top_4 = pd.concat([df_genre_dist_top_4, df_genre_dist_others])
ax[1].pie(df_genre_dist_top_4['count'], labels = df_genre_dist_top_4['type'],autopct='%1.1f%%',startangle=15, shadow = True)
ax[1].set_title('Movie Distribution by Gnere', fontsize = 15)

plt.show()

<h3>Observation:</h3>
<ul>Almost 64% of the movies recorded in Imdb were released in English. Second in line is French with huge jump from English. Others languages comprises 21% of the total releases</ul>
<ul>13% of the movies released had element of 'Drama' in them.</ul>

In [ ]:
fig1, axes = plt.subplots(1, 2, figsize=(15,15))
#Top 15 production houses
df_producer_dist = pd.read_sql("""SELECT name, COUNT(name) FROM "Producer" group by "name" ORDER BY count DESC;""", con = engine)
df_producer_dist_top = df_producer_dist[:10].copy()
explode = [0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
axes[0].pie(df_producer_dist_top['count'], labels = df_producer_dist_top['name'], autopct='%1.1f%%', startangle=15, shadow = True, explode = explode)
axes[0].set_title('Top 10 Producers based on Movies Produced', fontsize = 15)

df_producer_dist_others = pd.DataFrame(data = {'name': ['Others'], 'count' : [df_producer_dist.loc[10:,'count'].sum()]})
df_producer_dist_top = pd.concat([df_producer_dist_top, df_producer_dist_others])
explode = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1]
axes[1].pie(df_producer_dist_top['count'], labels = df_producer_dist_top['name'], autopct='%1.1f%%', startangle=15, shadow = True, explode = explode)
axes[1].set_title('Percentage of total movies produced by Production Houses', fontsize = 15)

plt.show()

<h3>Observation</h3>
<ul>Imdb recorded 3266 companies producing movies between 2007-2019. Out of 3266 the top 10 production houses were involved in approx 10% of the total movies produced during the period</ul>